---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout>
  <Section>
    <div class="flex items-center justify-center w-full h-full bg-blue-700">
      <h1 class="text-special-yellow text-4xl">Hello World!</h1>
    </div>
  </Section>
</Layout>
