---
import Section from "./Section.astro";
import ContactForm from "./ContactForm.astro";
---

<Section sectionId="contact">
  <div class="grid grid-cols-1 md:grid-cols-2 min-h-screen gap-4 p-4">
    <div class="flex flex-col p-4 h-full">
      <h2
        class="text-4xl text-vermillion dark:text-dark-vermillion text-center"
      >
        Get In Touch
      </h2>
      <p class="mt-4 text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ad
        tempore odit praesentium ipsa assumenda nisi odio eius amet! Rerum
        deleniti, quo sit cumque maiores dolor vitae veritatis doloribus
        consequuntur? Maxime quas alias ex ab quae nulla sint hic, voluptates
        quibusdam dolores doloribus dolore aliquam sapiente vero ea omnis
        possimus dolor libero ad sit laudantium nam. Nesciunt, asperiores dolor
        explicabo, architecto suscipit porro dolorum laborum nostrum unde beatae
        voluptate iure ullam commodi labore quis fugit corrupti quibusdam atque
        laudantium repellat aspernatur!
      </p>
    </div>
    <!-- Form -->
     <ContactForm />
</Section>

