---
---
<footer class="flex items-center justify-center h-16 bg-vermillion dark:bg-dark-vermillion">
    <span class="text-special-yellow dark:text-dark-special-yellow">&copy; 2025 Gripweed Consulting LLC</span>
</footer>