---
import SocialBar from "./SocialBar.astro";
import Hamburger from "./Hamburger.astro";
---

<nav
  class="w-full flex items-center justify-between z-20 p-3 bg-vermillion text-special-yellow"
>
  <div class="brand">
    <h1 class="text-5xl">Gripweed Consulting</h1>
  </div>
  <Hamburger />
  <div
    id="menu"
    class="hidden absolute top-18 left-0 w-5/6 bg-vermillion md:static md:w-fit md:flex"
  >
    <ul class="flex flex-col md:flex-row md:gap-2 items-center text-3xl">
      <li>Home</li>
      <li>Contact</li>
      <li>
        <SocialBar client:load />
      </li>
    </ul>
  </div>
</nav>
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const hamburger = document.querySelector("#hambuger");
    const menu = document.querySelector("#menu");

    hamburger.addEventListener("click", () => menu.classList.toggle("hidden"));
  });
</script>
