---
import SocialBar from "./SocialBar.astro";
import Hamburger from "./Hamburger.astro";
---

<nav
  class="w-full flex items-center justify-between z-20 p-3 bg-vermillion text-special-yellow"
>
  <div class="brand whitespace-nowrap">
    <h1 class="text-3xl md:text-5xl">Gripweed Consulting</h1>
  </div>
  <Hamburger />
  <div
    id="menu"
    class="absolute top-15 left-0 w-full border-t-1 bg-vermillion border-t-special-yellow md:static md:w-fit md:flex
         transform transition-all duration-300 ease-in-out origin-top
         opacity-0 -translate-y-5 pointer-events-none
         md:opacity-100 md:translate-y-0 md:pointer-events-auto"
  >
    <ul class="flex flex-col md:flex-row md:gap-2 items-center text-3xl">
      <li>Home</li>
      <li>Contact</li>
      <li>
        <SocialBar client:load />
      </li>
    </ul>
  </div>
</nav>
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const hamburger = document.querySelector("#hamburger");
    const menu = document.querySelector("#menu");

    hamburger.addEventListener("click", () => {
      hamburger.classList.toggle("open");
      menu.classList.toggle("open");
    });
  });
</script>

<style>
  @reference "tailwindcss";

  #menu.open {
  @apply opacity-100 translate-y-0 pointer-events-auto;
}
</style>